#footer {
	display:block;
	position:absolute;
	bottom:0;
	width:100%;	
}

#set {

}

#content {
	padding: 20px;
	text-align: center;
}

#contentdiv, .btnContainer a .ui-btn-inner, .btnContainer a .ui-btn-text {

}
.btnContainer {

}
.btnContainer a {
    margin-left: 10px; 
	margin-right: 10px;
}
.topBtn {  top: 0; }
.btmBtn {  bottom: 0; }

.thetext {
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
img {

    margin: auto;
    max-width: 90%;
    max-height: 75%;
}

#home {

}

#button {
	font-size: 5em;
}

h2 {
	text-align: center;
}